$bp1-width: 900px;
$bp2-width: 500px;

$background-color: #111518;
$item-background-color: #1b2227;
$input-background-color: #263038;
$primary-accent-color: #4ecca2;
$primary-font-color: #fff;
$secondary-font-color: #aaa;
$section-padding: 0 7rem;

//HEADER
$header-height: 6rem;
$header-inline-padding: 4rem;
$header-element-inline-padding: 0.75rem;
$header-element-height: 2.5rem;
$header-button-font-size: 1rem;
$header-icon-font-size: 1.3rem;

$bp1-header-inline-padding: 1rem;

// HOME
$name-title-size: clamp(3rem, 10vw, 7rem);

$bp2-name-title-size: clamp(3rem, 17vw, 7rem);

// ABOUT
$profile-pic-outline-offset: 6%;
$profile-pic-outline-width: 3px;
$profile-pic-size: 100%;
$about-font-size: 1.2rem;
$about-font-weight: 900;
$about-gap: 4rem;

$bp1-profile-pic-size: 50%;
$bp1-about-gap: 0;

// PROJECTS
$n-projects-visible: 3;
$projects-spacing: 1.5rem;
$projects-grid-peek: 4.5rem;
$projects-padding: 1.2rem;
$projects-title-font-size: 1.4rem;
$projects-desc-font-size: 1.03rem;
$projects-text-spacing: 1.2rem;

$bp1-n-projects-visible: 2;
$bp1-projects-spacing: 1rem;
$bp1-projects-grid-peek: 3rem;

$bp2-n-projects-visible: 1;
$bp2-projects-spacing: 0.5rem;
$bp2-projects-grid-peek: 2rem;


$bp1-section-padding: $header-height 2rem 0 2rem;
$bp2-section-padding: $header-height/1.5 1rem 0 1rem;

// CONTACT
$button-border-thickness: 2px;
$button-content-color: $secondary-font-color;
$button-transition: 0.4s;

$arrow-width: 1rem;
$arrow-height: 8px;
$arrow-thickness: 2px;
$arrow-color: $button-content-color;
$arrow-transition: 0.3s;