$bp1-width: 900px;
$bp2-width: 500px;

$background-color: #111518;
$primary-accent-color: #4ecca2;
$primary-font-color: #fff;
$secondary-font-color: #aaa;
$section-padding: 0 7rem;

//HEADER
$header-height: 6rem;
$header-inline-padding: 4rem;
$header-element-inline-padding: 0.5rem;
$header-element-height: 2.5rem;
$header-button-font-size: 1rem;
$header-icon-font-size: 1.3rem;
$header-gap: 0.5rem;

$bp1-header-inline-padding: 1rem;

// HOME
$name-title-size: clamp(3rem, 10vw, 7rem);

$bp2-name-title-size: clamp(3rem, 17vw, 7rem);

// ABOUT
$profile-pic-outline-offset: 6%;
$profile-pic-outline-width: 3px;
$profile-pic-size: 100%;
$about-font-size: 1.2rem;
$about-font-weight: 900;
$about-gap: 4rem;

$bp1-profile-pic-size: 50%;
$bp1-about-gap: 0;

// PROJECTS
$projects-grid-spacing-bp1: 0.5rem;
$projects-grid-spacing-bp2: 1rem;
$projects-grid-spacing-bp3: 1.5rem;

$n-projects-visible-bp1: 1;
$n-projects-visible-bp2: 2;
$n-projects-visible-bp3: 3;
$projects-grid-peek-bp1: $projects-grid-spacing-bp1 * 3;
$projects-grid-peek-bp2: $projects-grid-spacing-bp2 * 2.5;
$projects-grid-peek-bp3: $projects-grid-spacing-bp3 * 2.5;

$bp1-section-padding: $header-height 2rem 0 2rem;
$bp2-section-padding: $header-height/1.5 1rem 0 1rem;
