$background-color: #111518;
$primary-accent-color: #4ecca2;
$secondary-accent-color: #4ebbcc;
$primary-font-color: #fff;
$secondary-font-color: #aaa;
$name-title-size: 7rem;
$profile-pic-size: 17rem;
$profile-pic-outline-scale: 1;
$profile-pic-outline-offset: 1rem;
$profile-pic-outline-width: 3px;