@import './constants';

:export {
  bp1: $bp1-width;
  bp2: $bp2-width;
  animDur: $form-animation-dur;
  animDelay: $form-animation-delay;
  scaleX: $form-button-end-scaleX;
  scaleY: $form-button-end-scaleY;
}
