@use 'sass:math';

@import 'bootstrap-icons/font/bootstrap-icons.css';
@import '~normalize.css/normalize';
@import '~rfs/scss';
@import './constants';
@import './mixins';

@font-face {
  font-family: 'Kirvy Thin';
  src: url('../assets/fonts/Kirvy/Kirvy-Thin.otf');
}
@font-face {
  font-family: 'Kirvy Light';
  src: url('../assets/fonts/Kirvy/Kirvy-Light.otf');
}
@font-face {
  font-family: 'Kirvy Regular';
  src: url('../assets/fonts/Kirvy/Kirvy-Regular.otf');
}
@font-face {
  font-family: 'Kirvy Bold';
  src: url('../assets/fonts/Kirvy/Kirvy-Bold.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  width: 100vw;
  // height: calc(100vh - calc(100vh - 100%));
  height: 100%;
  font-family: Kirvy Thin;
  font-weight: 900;
  color: $primary-font-color;
  background: $background-color;
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  min-height: $header-height;
  top: 0;
  align-items: center;
  padding-inline: $header-inline-padding;
  z-index: 60;
  a {
    padding-block: ($header-element-height - $header-icon-font-size) * 0.5;
    padding-inline: $header-element-inline-padding;
    font-family: Kirvy Bold;
    font-size: $header-icon-font-size;
    color: $secondary-font-color;
    text-decoration: none;
    i {
      margin: 0;
      padding: 0;
    }
  }
  nav {
    margin-left: auto;
    position: relative;
    .marker {
      position: absolute;
      z-index: -1;
      height: 80%;
      bottom: 10%;
      left: 0;
      background-color: $primary-accent-color;
      transform-origin: bottom left;
    }
    .hover {
      position: absolute;
      height: 6.4%;
      bottom: 10%;
      background-color: $primary-accent-color;
      transform: scaleX(0);
      transform-origin: bottom center;
      // transition: transform 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
      pointer-events: none;
    }
    ul {
      display: flex;
      list-style: none;
      button {
        padding-block: ($header-element-height - $header-button-font-size) * 0.5;
        padding-inline: $header-element-inline-padding;
        font-family: Kirvy Bold;
        font-size: $header-button-font-size;
        color: $secondary-font-color;
        background: none;
        border: none;
        position: relative;
        cursor: pointer;
      }
      .active {
        color: $primary-font-color;
        color: $background-color;
        transition: 200ms ease-in-out 1000ms;
      }
    }
  }
  .hamburger-btn {
    display: none;
  }
}

.container {
  width: 100%;
  height: 100%;
}

section {
  position: relative;
  display: flex;
  width: 100vw;
  height: calc(100vh - calc(100vh - 100%));
  padding: $section-padding;
  overflow: hidden;
}

@supports (-moz-appearance: none) {
  section:last-of-type {
    height: calc(100vh + calc(100vh - 100%));
  }
}

#home {
  align-items: center;
  justify-content: space-between;
  .title {
    display: flex;
    flex-direction: column;
    h1 {
      margin: 0;
      font-size: $name-title-size;
      text-transform: uppercase;
    }
    h1:nth-of-type(2) {
      color: $primary-accent-color;
      font-family: Kirvy Bold;
    }
    h2 {
      margin: 1rem 0 0 1.4rem;
      font-family: Kirvy Light;
      font-size: calc($name-title-size * 0.3);
      color: $secondary-font-color;
    }
  }
  #drawing {
    width: 45%;
    transform: translate(10%, 8%);
  }
}

.bi-arrow-down {
  position: fixed;
  bottom: 1rem;
  left: 0;
  transform: translateX(50%);
  font-size: 2rem;
  display: none;
}

#about {
  justify-content: center;
  align-items: center;
  margin: 0;
  .wrapper {
    align-items: center;
    gap: $about-gap;
    display: flex;
  }
  .profile {
    transform: rotate(-5deg);
    position: relative;
    flex: 1 1 0;
    max-width: $profile-pic-size;
    img {
      max-width: 100%;
    }
    &::before {
      content: '';
      position: absolute;
      top: -$profile-pic-outline-offset;
      left: -$profile-pic-outline-offset;
      width: 100%;
      height: 100%;
      outline: $profile-pic-outline-width solid $primary-accent-color;
      z-index: -1;
    }
    &::after {
      content: '';
      position: absolute;
      top: $profile-pic-outline-offset;
      left: $profile-pic-outline-offset;
      width: 100%;
      height: 100%;
      outline: $profile-pic-outline-width solid $primary-font-color;
    }
  }
  p {
    flex: 3.5 1 0;
    font-size: $about-font-size;
    line-height: $about-font-size * 1.6;
    font-weight: $about-font-weight;
    .p {
      display: flex;
      padding: 0.5rem 0;
      font-family: monospace;
      color: $primary-accent-color;
    }
  }
}

#projects {
  .info {
    .logo {
      z-index: 20;
      background-color: $primary-font-color;
      height: $projects-info-logo-height;
      width: fit-content;
      transform-origin: left;
      margin-inline: auto;
    }
    .conama {
      @include logo('../assets/projects/conama/logo.svg');
      transform: translateY($project-logo-offset) scale($conama-logo-scale);
      width: $projects-info-logo-height * 3.58 !important;
    }

    .esima {
      @include logo('../assets/projects/esima/logo.svg');
      transform: translateY($project-logo-offset) scale($esima-logo-scale);
      width: $projects-info-logo-height * 4.45 !important;
    }
    .waldy {
      @include logo('../assets/projects/waldy/logo.svg');
      transform: translateY($project-logo-offset) scale($waldy-logo-scale);
      width: $projects-info-logo-height * 1.84 !important;
    }
    padding-top: math.div($header-height, 2);
    background: rgba($color: $background-color, $alpha: 0.7);
    backdrop-filter: blur(20px);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    transform-origin: bottom;
    // transform: scaleY(1);
    transform: translateY(0);

    opacity: 1;
    .bar {
      position: absolute;
      top: math.div($header-height, 2) - 1rem;
      right: 2rem;
      height: calc(calc(100% - math.div($header-height, 2)) + 1rem);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      z-index: 150;
      i {
        font-size: 1.6rem;
        width: 1.6rem;
        height: 1.6rem;
        margin: 0;
        padding: 0;
        transition: transform 0.05s ease-in;
        position: relative;
        color: $secondary-font-color;
        &::after {
          content: '';
          position: absolute;
          width: 3.5rem;
          height: 3.5rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:hover {
          transform: scale(1.4);
        }
      }
      .fa-brands {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
      }
      .line {
        height: 100%;
        width: 2px;
        background-color: $secondary-font-color;
      }
      .close-project-info {
        width: 2rem;
        height: 6rem;
        background: transparent;
        color: #fff;
        border: none;
        cursor: pointer;
        position: relative;
        margin-bottom: 4rem;
        &:hover {
          &::before {
            transform: translate(-50%, -50%) rotate(25deg);
          }
          &::after {
            transform: translate(-50%, -50%) rotate(155deg);
          }
        }
        &::before,
        &::after {
          content: '';
          position: absolute;
          height: 3px;
          width: 2rem;
          background: $primary-font-color;
          left: 50%;
          top: 50%;
          transition: 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        }
        &::before {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after {
          transform: translate(-50%, -50%) rotate(135deg);
        }
      }
    }
  }
  .info-header {
    box-shadow: 0 0 1.5rem 1.5rem $background-color;
    background: $background-color;
    z-index: 80;
    position: relative;
  }
  .content {
    overflow-y: auto !important;
    display: flex;
    flex-direction: column;
    padding-right: 7rem;
    padding-left: 3rem;
    height: 100%;
    padding-top: 2rem;
    gap: 2rem;
    padding-bottom: 6rem;
    .part {
      display: flex;
      gap: 4rem;
    }
    .img-wrapper {
      flex: 1 1 0;
      display: flex;
      aspect-ratio: 16 / 10;
      img {
        max-width: 100%;
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 10;
        object-fit: contain;
      }
    }
    .imgs-wrapper {
      flex: 1 1 0;
      display: flex;
      gap: 3rem;
      justify-content: flex-end;
      img {
        max-width: 40%;
        width: 40%;
      }
    }
    .text {
      h3 {
        font-size: 1.5rem;
        font-family: Kirvy Bold;
        margin-top: 0.5rem;
      }
      font-size: 1.1rem;
      gap: 1rem;
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
    }
  }
  .hidden {
    // transform: scaleY(0);
    transform: translateY(100%);
    opacity: 0;
  }
  align-items: center;
  justify-content: center;
  width: 100%;
  .project-grid {
    display: flex;
    padding-top: math.div($header-height, 2) + 4rem;
    padding-bottom: 4rem;
    flex-direction: row;
    gap: $projects-spacing;
    height: 100%;
    .item-wrapper {
      flex: 1 1 0;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      &:hover {
        transform: scale($project-hover-scale);
        // box-shadow: 0 0 1rem 0 $primary-accent-color;
        .logo {
          background-color: $primary-accent-color;
        }
        .conama {
          transform: translateY($project-hover-logo-offset)
            scale($conama-logo-scale * $project-hover-logo-scale);
        }
        .esima {
          transform: translateY($project-hover-logo-offset)
            scale($esima-logo-scale * $project-hover-logo-scale);
        }
        .waldy {
          transform: translateY($project-hover-logo-offset)
            scale($waldy-logo-scale * $project-hover-logo-scale);
        }
      }
    }
    .project-item {
      height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: $projects-text-spacing;
      background-color: $item-background-color;
      padding-bottom: $projects-padding;
      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.1);
      }
      .logo {
        transition: 0.2s ease-in-out;
        z-index: 20;
        background-color: $primary-font-color;
        height: $projects-logo-height;
      }
      .conama {
        @include logo('../assets/projects/conama/logo.svg');
        // width: $projects-logo-height *  3.58 !important;
        transform: translateY($project-logo-offset) scale($conama-logo-scale);
      }
      .esima {
        @include logo('../assets/projects/esima/logo.svg');
        // width: $projects-logo-height *  4.45 !important;
        transform: translateY($project-logo-offset) scale($esima-logo-scale);
      }
      .waldy {
        @include logo('../assets/projects/waldy/logo.svg');
        // width: $projects-logo-height *  1.84 !important;
        transform: translateY($project-logo-offset) scale($waldy-logo-scale);
      }
      .short-description {
        box-shadow: 0
            calc(calc($projects-logo-height + $projects-text-spacing) * -1) 7rem
            4rem $item-background-color,
          0 calc(calc($projects-logo-height + $projects-text-spacing) * -1) 7rem
            4rem $item-background-color;
        display: flex;
        gap: $projects-text-spacing;
        flex-direction: column;
        z-index: 10;
        font-size: $projects-desc-font-size;
        font-family: Kirvy Light;
        padding-inline: $projects-padding;
        .actions {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 0.6rem;
          // margin-top: math.div($projects-text-spacing, 2);
          button {
            position: relative;
            height: 2.5rem;
            margin-right: auto;
            background: $input-background-color;
            border: none;
            color: $button-content-color;
            font-family: Kirvy Bold;
            cursor: pointer;
            font-size: 1.1rem;
            padding-inline: 1rem;
            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 8%;
              background-color: $primary-accent-color;
              z-index: 50;
              transform: scaleX(0);
              transition: 0.3s ease-in-out;
            }
            &:hover::after {
              transform: scaleX(1);
            }
          }
          a {
            position: relative;
            height: 2.5rem;
            width: 2.5rem;
            background: $input-background-color;
            color: $button-content-color;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-size: 1.2rem;
            transition: 0.1s ease-in-out;
            &:hover {
              box-shadow: 0 0 1rem 0 $background-color;
              transform: translateY(-0.3rem);
              color: $primary-accent-color;
            }
          }
        }
      }
    }
  }
}

#contact {
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 8rem;
  .contact-container {
    display: flex;
    flex: 1 1 0;
    text-align: center;
    font-size: 1.3rem;
    gap: 1rem;
    .message {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: auto;
      gap: 0.6rem;
      font-size: 1.5rem;
      h2 {
        font-family: Kirvy Bold;
        transform: scale(1.4);
        font-size: 1.6rem;
        margin-bottom: 2rem;
        text-align: center;
      }
      div:last-of-type {
        margin-top: 0.4rem;
      }
      .email {
        cursor: pointer;
        color: $primary-accent-color;
        text-decoration: underline;
        position: relative;
        .email-actions {
          transition: 0.3s cubic-bezier(0.87, 0.07, 0.28, 1.01);
          position: absolute;
          pointer-events: none;
          opacity: 0;
          display: flex;
          left: 100%;
          top: 50%;
          border-radius: 0.3rem;
          transform: translate(10%, -45%);
          background-color: $input-background-color;
          justify-content: center;
          align-items: center;
          padding: 0.7rem;
          gap: 0.9rem;
          svg {
            color: $secondary-font-color;
            height: 1.3rem;
            width: 1.3rem;
            display: flex;
          }
          .copied {
            .copy {
              display: none;
            }
            .check {
              display: block;
              color: $primary-accent-color;
            }
          }
          button {
            margin: 0;
            padding: 0;
            background: none;
            border: none;
            .check {
              display: none;
            }
          }
          button,
          a {
            cursor: pointer;
            &:hover {
              svg {
                color: $primary-accent-color;
              }
            }
          }
          &::before {
            position: absolute;
            left: -0.7rem;
            top: 50%;
            transform: translateY(-50%);
            content: '';
            width: 0;
            height: 0;
            border-top: 0.8rem solid transparent;
            border-bottom: 0.8rem solid transparent;
            border-right: 0.8rem solid $input-background-color;
          }
          &::after {
            content: '';
            position: absolute;
            left: -100%;
            top: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
      .email:hover {
        .email-actions {
          pointer-events: all;
          opacity: 1;
          transform: translate(30%, -45%);
        }
      }
      div:last-child {
        width: fit-content;
        position: relative;
        text-align: center;
      }
    }
    .message:last-child {
      position: relative;
      .arrow {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(1rem, -45%);
        height: 1.6rem;
        width: 1.6rem;
        animation: arrow 1.2s infinite alternate;
      }
      @keyframes arrow {
        0% {
          transform: translate(1rem, -45%);
        }
        100% {
          transform: translate(0.5rem, -45%);
        }
      }
    }
    form {
      position: relative;
      max-width: 26rem;
      width: 100%;
      .content {
        padding: 1.2rem;
        background-color: $item-background-color;
        transition: calc($form-animation-dur * 1ms)
          cubic-bezier(0.87, 0.07, 0.28, 1.01);
        flex-direction: column;
        display: flex;
        width: 100%;
        overflow: hidden;
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: scale(1.2);
          transition: calc($form-animation-dur * 1ms)
            cubic-bezier(0.87, 0.07, 0.28, 1.01);
          background-color: $item-background-color;
          opacity: 0;
          pointer-events: none;
        }
      }
      label {
        text-align: left;
        font-family: Kirvy Bold;
        font-size: 1.1rem;
      }
      #name,
      #email,
      #message {
        background: $input-background-color;
        color: $primary-font-color;
        font-size: 1.1rem;
        font-family: Kirvy Regular;
        width: 100%;
        padding: 0.6rem;
        border: none;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        resize: none;
        transition: 0.2s ease-in-out;
      }
      #message {
        margin-bottom: 0;
      }
      .submit {
        position: absolute;
        overflow: hidden;
        background: $input-background-color;
        border: none;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 4rem);
        color: $button-content-color;
        font-family: Kirvy Bold;
        cursor: pointer;
        width: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        min-height: 2.5rem;
        gap: 0.1rem;
        transition: transform calc($form-animation-dur * 1ms)
          cubic-bezier(0.87, 0.07, 0.28, 1.01);
        .end-message {
          transition: calc($form-animation-dur * 0.4ms);
          position: absolute;
          opacity: 0;
          width: 400%;
          background: $background-color;
          transform: scale(
            math.div(1, $form-button-end-scaleY),
            math.div(0.6, $form-button-end-scaleX)
          );
          p:first-child {
            font-size: 1.8rem;
            margin-bottom: 0.7rem;
          }
          p:last-child {
            font-size: 1.1rem;
            color: $secondary-font-color;
          }
        }
        .positive {
          color: $primary-accent-color;
        }
        .negative {
          color: #cc2e2e;
        }
        .active {
          opacity: 1;
          transform: scale(
            math.div(1, $form-button-end-scaleY),
            math.div(1, $form-button-end-scaleX)
          );
        }
        span {
          padding-left: $arrow-width;
          transition: calc($form-button-dur * 1ms) ease-in-out;
        }
        svg {
          transition: calc($form-button-dur * 1ms) ease-in-out;
          opacity: 0;
          height: 100%;
          width: $arrow-width;
        }
        &:not(.clicked):hover {
          outline: $button-border-thickness solid $primary-accent-color;
          outline-offset: -$button-border-thickness;
          span {
            padding-left: 0.4rem;
          }
          svg {
            opacity: 1;
          }
        }
        &::before {
          transition: calc($form-button-dur * 5ms) ease-in-out;
          content: '';
          position: absolute;
          background: $primary-accent-color;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform-origin: left;
          transform: scaleX(0);
        }
      }
      .submit.clicked {
        span,
        svg {
          opacity: 0;
          transform: translateX(3rem);
        }
      }
      .submit.fill {
        &::before {
          transform: scaleX(1);
        }
      }
      .content.th {
        transform: scale(0.08, 1.2);
        &::after {
          opacity: 1;
        }
      }
      .content.tv {
        transform: scale(0.08, 0);
      }
    }
  }
}
@media (max-width: $bp1-width) {
  header {
    padding-inline: $bp1-header-inline-padding;
  }
  section {
    padding: $bp1-section-padding;
  }
  #about .wrapper {
    flex-direction: column;
    gap: $bp1-about-gap;
    .profile {
      max-width: $bp1-profile-pic-size;
    }
  }
  #projects {
    padding-inline: 1.5rem;
    padding-top: $header-height - 2rem;
    .project-grid {
      gap: $bp1-projects-spacing;
      flex-direction: column;
      padding-block: 1.5rem;
      width: 100%;

      .project-item {
        width: 100%;

        flex-direction: row;
        padding-bottom: 0;
        position: relative;
        height: calc(
          calc(
              100vh - calc($bp1-projects-spacing * 2) -
                calc($header-height + 7rem)
            ) / 3
        );
        .logo {
          width: 100%;
          position: absolute;
          top: 60%;
          left: 50%;
        }
        .conama {
          @include logo('../assets/projects/conama/logo.svg');
          transform: translate(-50%, -100%) scale($conama-logo-scale * 0.7);
        }
        .esima {
          @include logo('../assets/projects/esima/logo.svg');
          transform: translate(-50%, -100%) scale($esima-logo-scale * 0.7);
        }
        .waldy {
          @include logo('../assets/projects/waldy/logo.svg');
          transform: translate(-50%, -100%) scale($waldy-logo-scale * 0.7);
        }
        .short-description {
          p {
            font-size: 1.1rem;
            position: absolute;
            width: 60%;
            left: 50%;
            bottom: 10%;
            text-align: center;
            transform: translateX(-50%);
          }
          .actions {
            position: absolute;
            right: $projects-padding;
            height: 100%;
            justify-content: center;
            flex-direction: column;
            width: min-content;
            margin-left: auto;
            margin-block: auto;
          }
          width: 100%;
          background: $item-background-color;
          box-shadow: calc(
                calc($projects-logo-height + $projects-text-spacing) * -1
              )
              0 7rem 3rem $item-background-color,
            calc(calc($projects-logo-height + $projects-text-spacing) * -1) 0
              7rem 3rem $item-background-color;
          &::before {
            content: '';
            background-color: $item-background-color;
            box-shadow: -1rem 0 1rem 1rem $item-background-color;
            width: 3.5rem;
            height: 100%;
            right: 0;
            transform: translateX(-100%);
          }
        }
      }
      .item-wrapper {
        width: 100%;

        &:hover {
          transform: scale($project-hover-scale);
          .logo {
            background-color: $primary-accent-color;
          }
          .conama {
            transform: translate(-50%, -100%) scale($conama-logo-scale * 0.8);
          }
          .esima {
            transform: translate(-50%, -100%) scale($esima-logo-scale * 0.8);
          }
          .waldy {
            transform: translate(-50%, -100%) scale($waldy-logo-scale * 0.8);
          }
        }
      }
    }
  }
  #contact {
    padding-bottom: 4rem;
    flex-direction: column;
    gap: 0;
    height: 110%;
    .contact-container {
      flex: 0 1 auto;
      width: 100%;
      .message {
        margin-inline: auto;
        h2 {
          transform: scale(1);
          font-size: 2rem;
          margin-bottom: 1.5rem;
        }
        div {
          display: none;
        }
      }
      form {
        margin-bottom: 4rem;
      }
      .end-message {
        width: 90vw !important;
      }
    }
    .right {
      justify-content: center;
    }
  }
}

@media (max-width: $bp2-width) {
  header {
    nav {
      display: none;
    }
    .hamburger-btn {
      margin-left: auto;
      display: block;
    }
    nav.mobile-active {
      background: $background-color;
      width: 100%;
      display: block;
      position: absolute;
      margin: 0;
      right: 0;
      top: 100%;
      ul {
        flex-direction: column;
        align-items: center;
        button,
        li {
          width: 100%;
        }
      }
    }
  }
  section {
    padding: $bp2-section-padding;
    padding-top: 0;
  }
  #home {
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;

    .title {
      align-self: flex-start;
      h1 {
        font-size: $bp2-name-title-size;
      }
      h2 {
        font-size: calc($bp2-name-title-size * 0.3);
      }
    }
    #drawing {
      position: absolute;
      bottom: 0;
      width: 100%;
      max-height: auto;
      transform-origin: bottom right;
      transform: scale(1.25) translate(15%, 10%);
    }
  }
  #projects {
    padding-inline: 1.5rem;
    padding-top: $header-height - 2rem;
    .project-grid {
      gap: $bp2-projects-spacing;
      flex-direction: column;
      padding-block: 1.5rem;
      width: 100%;

      .project-item {
        width: 100%;

        flex-direction: row;
        padding-bottom: 0;
        position: relative;
        height: calc(
          calc(
              100vh - calc($bp2-projects-spacing * 2) -
                calc($header-height + 7rem)
            ) / 3
        );
        .logo {
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
        }
        .conama {
          @include logo('../assets/projects/conama/logo.svg');
          transform: translate(-50%, -50%) scale($conama-logo-scale * 0.7);
        }
        .esima {
          @include logo('../assets/projects/esima/logo.svg');
          transform: translate(-50%, -50%) scale($esima-logo-scale * 0.7);
        }
        .waldy {
          @include logo('../assets/projects/waldy/logo.svg');
          transform: translate(-50%, -50%) scale($waldy-logo-scale * 0.7);
        }
        .short-description {
          p {
            display: none;
          }
          .actions {
            position: absolute;
            right: $projects-padding;
            height: 100%;
            justify-content: center;
            flex-direction: column;
            width: min-content;
            margin-left: auto;
            margin-block: auto;
          }
          width: 100%;
          background: $item-background-color;
          box-shadow: calc(
                calc($projects-logo-height + $projects-text-spacing) * -1
              )
              0 7rem 3rem $item-background-color,
            calc(calc($projects-logo-height + $projects-text-spacing) * -1) 0
              7rem 3rem $item-background-color;
          position: relative;
          &::before {
            content: '';
            background-color: $item-background-color;
            box-shadow: -1rem 0 1rem 1rem $item-background-color;
            width: 3.5rem;
            height: 100%;
            right: 0;
            transform: translateX(-100%);
          }
        }
      }
      .item-wrapper {
        width: 100%;

        &:hover {
          transform: scale($project-hover-scale);
          .logo {
            background-color: $primary-accent-color;
          }
          .conama {
            transform: translate(-50%, -50%) scale($conama-logo-scale * 0.8);
          }
          .esima {
            transform: translate(-50%, -50%) scale($esima-logo-scale * 0.8);
          }
          .waldy {
            transform: translate(-50%, -50%) scale($waldy-logo-scale * 0.8);
          }
        }
      }
    }
  }

  #contact {
    padding-bottom: 0;
    flex-direction: column;
    gap: 0;
    height: 110%;
    .contact-container {
      flex: 0 1 auto;
      width: 100%;
      margin-inline: auto;
      .message {
        h2 {
          transform: scale(1);
          font-size: 2rem;
          margin-bottom: 1.5rem;
        }
        div {
          display: none;
        }
      }
      form {
        margin-bottom: 4rem;
      }
      .end-message {
        width: 90vw !important;
      }
    }
    .right {
      justify-content: center;
    }
  }
}
